<div class="footer-bar">
    <p>泉州师范学院 软件学院</p>
    <span>16级软工3 候文沁</span>
</div>
<style>
.footer-bar{
    background: #e8eaef;
    height: 60px;
    /* border-top: 1px solid #d0d8ff; */
    text-align: center;
    padding: 10px 0 0 0;
    line-height:25px;
    font-size: 12px;;
}


</style>